DirectoryIndex index.php <IfModule mod_negotiation.c> Options -MultiViews </IfModule>
<IfModule mod_rewrite.c> Re
    writeEngine On RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$ RewriteRule .* - [E=BASE:%1] RewriteCond %{HTT
    P:Authorization} .+ RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0] RewriteCond %{ENV:REDIRECT_STATUS} ="" RewriteRu
    le ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L] RewriteCond %{REQUEST_FILENAME} !-f RewriteRule ^ %{ENV:BASE}/i
    ndex.php [L] </IfModule>
<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c> RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>